[Unit]
Description=Clean up old docker containers
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=@sbindir@/docker-container-cleanup

