[Unit]
Description=Clean up dangling docker images
Requires=docker.service docker-container-cleanup.service
After=docker.service docker-container-cleanup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune -f
