[Unit]
Description=Clean up dangling docker images
Requires=docker-container-cleanup.service
After=docker-container-cleanup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker-image-cleanup

